<ion-view title="Account" hide-back-button="true" id="page15" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
        <div id="account-button-bar6" class=" button-bar ">
            <button id="account-button39" style="border-radius:0px 0px 0px 0px;" class=" button button-stable  button-block icon ion-android-contact "></button>
            <a ui-sref="language" id="account-button40" class=" button button-dark  button-block icon ion-ios-world "></a>
            <a ui-sref="setup" id="account-button41" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-wrench "></a>
        </div>
        <form id="account-form9" class="list ">
            <ion-list id="account-list15" class=" ">
                <label class="item item-input " id="account-input15">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Rachel Zoe Ramirez Urrutia">
                </label>
                <label class="item item-input " id="account-input16">
                    <span class="input-label">Username</span>
                    <input type="password" placeholder="rache.zoe@gmail.com">
                </label>
                <label class="item item-input " id="account-input17">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="******">
                </label>
                <label class="item item-input " id="account-input18">
                    <span class="input-label">Confirm</span>
                    <input type="password" placeholder="******">
                </label>
            </ion-list>
            <button id="account-button42" style="border-radius:0px 0px 0px 0px;" class=" button button-energized  button-block ">Save</button>
        </form>
    </ion-content>
</ion-view>