<ion-view title="Colecciones" hide-back-button="true" id="page1" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
        <ion-list id="categories-list2" class=" "></ion-list>
        <div class="list card " id="categories-card21">
            <ion-item class="item-thumbnail-left energized  " ui-sref="app.products" id="categories-list-item11">
                <h2energized>Hats
                    <p>$ 19.000 - 20% de descuento</p>
                </h2energized>
            </ion-item>
            <ion-item class="item-thumbnail-left energized  " id="categories-list-item15">
                <h2energized>Relojes
                    <p>$ 170.000 - 10% de descuento</p>
                </h2energized>
            </ion-item>
        </div>
    </ion-content>
</ion-view>