<ion-view title="Favorites" hide-back-button="true" id="page10" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
        <ion-list id="favorites-list12" class=" ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>