<ion-view title="language" hide-back-button="true" id="page18" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
        <div id="language-button-bar10" class=" button-bar ">
            <a ui-sref="account" id="language-button55" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-android-contact "></a>
            <button id="language-button56" class=" button button-stable  button-block icon ion-ios-world "></button>
            <a ui-sref="setup" id="language-button57" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-wrench "></a>
        </div>
        <form id="language-form11" class="list ">
            <ion-radio id="language-radio3" class=" ">Espanol</ion-radio>
            <ion-radio id="language-radio4" class=" ">English</ion-radio>
        </form>
    </ion-content>
</ion-view>