<ion-view title="Login" hide-back-button="true" id="page4" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
        <form id="login-form1" class="list ">
            <ion-list id="login-list5" class=" ">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">Correo</span>
                    <input type="email" placeholder="origenafro@gmail.com">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label">Clave</span>
                    <input type="password" placeholder="Secreta">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="app.categories" id="login-button5" style="border-radius:0px 0px 0px 0px;" class=" button button-energized  button-block ">Ingresar</a>
            <a ui-sref="signup" id="login-button6" class=" button button-energized  button-block button-clear ">O crea una cuenta</a>
        </form>
    </ion-content>
</ion-view>
