<ion-view title="Productos" hide-back-button="true" id="page1" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar">
            </label>
            <button class="button button-clear button-balanced" ng-click="filtered = filtered ? false : true">
                Filtrar
            </button>
        </div>
        <div class="card" ng-if="filtered">
            <div class="padding">
                <h3 class="calm">Colores</h3>
                <div style="overflow: hidden">
                    <button type="button" class="color-demo light-bg light-border">&nbsp;</button>
                    <button type="button" class="color-demo stable-bg stable-border"></button>
                    <button type="button" class="color-demo positive-bg positive-border"></button>
                    <button type="button" class="color-demo calm-bg calm-border"></button>
                    <button type="button" class="color-demo balanced-bg balanced-border"></button>
                    <button type="button" class="color-demo energized-bg energized-border"></button>
                    <button type="button" class="color-demo assertive-bg assertive-border"></button>
                    <button type="button" class="color-demo royal-bg royal-border"></button>
                    <button type="button" class="color-demo dark-bg dark-border"></button>
                </div>
            </div>
            <div class="padding">
                <h3 class="calm">Tallas</h3>
                <div class="padding">
                    <h3><a ui-shref="#" class="dark-bg light padding">XS</a> <a ui-shref="" class="dark">S</a> <a ui-shref="#" class="dark-bg light padding">M</a> <a ui-shref="" class="dark">L</a> <a ui-shref="#" class="dark-bg light padding">XL</a></h3>
                </div>
            </div>
        </div>
        <div class="list " id="products-card21">
            <div class="list card">

                <div class="item item-avatar">
                    <img src="https://az853139.vo.msecnd.net/static/images/not-found.png">
                    <h2>Hat Red</h2>
                    <p>Coleccion de Hats</p>
                </div>

                <div class="item item-image">
                    <img src="https://az853139.vo.msecnd.net/static/images/not-found.png">
                </div>
                <p>&nbsp;</p>
                <ion-scroll direction="x" align="center" class="custom-slide">
                    <img ng-repeat="product in products" class="image-item cover" ng-model="result" index="{{$index}}" item="{{product}}"  ng-src="img/transparent.png" style="background-image: url({{product.image}})" alt="{{product.name}}" title="{{product.name}}" width="50" height="50">
                    <!-- style="border: {{'#387ef5'}} 2px solid" -->
                </ion-scroll>
                (({{result}}))

                <div class="padding">
                    <table>
                        <tr>
                            <td width="50%">
                                <div class="list list-inset zero-margin">
                                    <label class="item item-input">
                                        Cantidad
                                        <input type="text" placeholder="0" style="text-align:right">
                                    </label>
                                </div>
                            </td>
                            <td width="50%" align="right">
                                <h1 class="positive">{{0 | currency:'$ '}}</h1>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <span class="color-demo light-bg light-border right"></span>
                    <span class="color-demo stable-bg stable-border right"></span>
                    <span class="color-demo positive-bg positive-border right"></span>
                    <span class="color-demo calm-bg calm-border right"></span>
                    <span class="color-demo balanced-bg balanced-border right"></span>
                    <span class="color-demo energized-bg energized-border right"></span>
                    <span class="color-demo assertive-bg assertive-border right"></span>
                    <span class="color-demo royal-bg royal-border right"></span>
                    <span class="color-demo dark-bg dark-border right"></span>
                </div>

                <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio assumenda, quibusdam fugiat unde dicta laboriosam in quos deserunt, itaque, illo et corporis perferendis repellat? Numquam fuga explicabo, dolores laudantium consequatur?</p>

                <div class="padding" align="right">
                    <h3><span class="dark-bg light padding">XS</span> <span class="dark">S</span> <span class="dark-bg light padding">M</span> <span class="dark">L</span> <span class="dark-bg light padding">XL</span></h3>
                </div>

                <div class="padding">
                    <button class="button button-block button-balanced">
                        Comprar
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>