<ion-view title="setup" hide-back-button="true" id="page17" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
        <div id="setup-button-bar8" class=" button-bar ">
            <a ui-sref="account" id="setup-button47" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-android-contact "></a>
            <a ui-sref="language" id="setup-button48" class=" button button-dark  button-block icon ion-ios-world "></a>
            <button id="setup-button49" style="border-radius:0px 0px 0px 0px;" class=" button button-stable  button-block icon ion-wrench "></button>
        </div>
        <button id="setup-button50" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">Cancelar Subscripcion</button>
    </ion-content>
</ion-view>