<ion-view title="signup" hide-back-button="true" id="page5" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
        <form id="signup-form2" class="list ">
            <ion-list id="signup-list6" class=" ">
                <label class="item item-input " id="signup-input3">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="Afro">
                </label>
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">Correo</span>
                    <input type="email" placeholder="origenafro@gmail.com">
                </label>
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Clave</span>
                    <input type="password" placeholder="Secreta">
                </label>
                <label class="item item-input " id="signup-input7">
                    <span class="input-label">Repetir Clave</span>
                    <input type="password" placeholder="Secreta">
                </label>
            </ion-list>
            <a ui-sref="categories" id="signup-button7" style="border-radius:0px 0px 0px 0px;" class=" button button-energized  button-block ">Crear</a>
        </form>
        <a ui-sref="login" id="signup-button15" class=" button button-energized  button-block button-clear ">Ingresa</a>
    </ion-content>
</ion-view>