[class^="icon-"]:before, [class*=" icon-"]:before {
    margin: 0;
}
.zero-margin{
    margin: 0;
}
.color-demo {
    float: left;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background: gray;
    margin: 10px 5px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.custom-slide {
    overflow-x: auto;
    overflow-y: hidden;
    white-space:nowrap;
}
.custom-slide .image-item{
    margin: 2px;
}
.cover {
     background-size: cover;
     background-position: center;
     width: 50px;
     height: auto;
}